<%= form_for @message, :html => {:class => 'form-horizontal'} do |f| %>
    <% if @message.errors.any? %>
        <div class="alert alert-error" id="error_explanation">
          <h4>Message was not sent:</h4>

          <ul>
            <% @message.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :content, 'Message', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :content, :class => "form-control", :rows => "3" %>
      </div>
    </div>

    <%= f.hidden_field :recipient_id %>

    <div class="control-group">
      <%= f.label :recipient, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :recipient, placeholder: "Enter user's name" %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  messages_path, :class => 'btn' %>
    </div>
<% end %>
